body {
  font-family: "Outfit", sans-serif;
}
.container {
  background: hsl(212, 45%, 89%);
  width: 1440px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  background: white;
  width: 300px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 60%;
  width: 90%;
  border-radius: 15px;
  margin: 15px;
}

h3 {
  margin-left: 35px;
  margin-right: 35px;
  text-align: center;
}

p {
  font-size: 15px;
  margin-left: 35px;
  margin-right: 35px;
  text-align: center;
  margin-top: 0px;
  color: gray;
}
